Body {
background-color: rgb(230, 232, 253);
}
.top{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.section {
    display: grid;
    grid-template-columns: repeat(4, 50px) ;
    grid-template-rows: repeat(6, 50px);
    background-color: rgb(225, 236, 236);
    grid-gap: 10px;
    color: rgb(220, 228, 228);
}
.box {
    background-color: darkslategray;
}
.box:nth-child(4n-1) {
    background-color: rgb(245, 10, 10);
}

.box:nth-child(n+21) {
    background-color: blue;
}

.box:nth-last-child(2) {
    background-color: rgb(245, 10, 10);;
}
.button {
width: 300px;
height: 80px;
background: #44D3A8;
border: 0;
border-radius: 100px;
border-color: white;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
padding-left: 50px;
color: #FFFFFF;
margin: 0;
box-shadow: 0px 4px 4px rgba(65, 75, 212, 0.753);
margin-top: -30px;
margin-left: 46px;
margin-right: 46px;
margin-bottom: 50px;
}

.btn {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px; 
    padding-top: 30px;
}

.rec1 {
    width: 200px;
    height: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
margin: 0;
background-color: #C4C4C4;
}

.rec1::before {
content: "";
    width: 200px;
    height: 2 px;
    display: flex;
       flex-direction: column;
    margin: 0;
   background: #C4C4C4;
}
.rec1:hover::before {
    width: 200px;
    height: 2px;
    display: flex;
       flex-direction: column;
    margin: 0;

    background-color: rgb(78, 78, 248);
   
}
/*.rectangle {
    width: 200px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
margin: 0;
padding-top: 30px;
}*/

.rec2 {
    width: 200px;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
margin: 0;
padding-top: 8px;
}

