Body {
background-color: rgb(230, 232, 253);
}
.top{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.section {
    display: grid;
    grid-template-columns: repeat(4, 50px) ;
    grid-template-rows: repeat(6, 50px);
    background-color: rgb(91, 112, 112);
    grid-gap: 10px;
    color: rgb(220, 228, 228);
}
.box:nth-child(4n-1) {
    background-color: rgb(245, 10, 10);
}

.box:nth-child(n+21) {
    background-color: blue;
}

.box:nth-last-child(2) {
    background-color: rgb(245, 10, 10);;
}

.btn {
    display: flex;
    margin-top: 50px;
}
.button {
width: 300px;
height: 80px;
background: #44D3A8;
border: 0;
border-radius: 100px;
border-color: white;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
padding-left: 50px;
color: #FFFFFF;
margin: 0 auto;
margin-bottom: 50px;
}